<html xmlns:th="http://www.thymeleaf.org">

<body>
    <!-- *******************************************************
     *                                                     *
     * Module interner HMTL Code für die Formatierung der  *
     * View.                                               *
     *                                                     *
     ******************************************************* -->
    <div th:fragment="door" class="text-center d-flex flex-column" style="height: 100%">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Haustür
            </div>
            <img src="..." class="card-img-top" alt="...">
            <ul class="list-group list-group-flush">

                <li class="list-group-item" th:text="${T(de.smarthome.smartux.controller.PortalController).getItem(ModelMap,200,1).getMetadata().getSmartux()['config'][T(de.smarthome.smartux.controller.PortalController).getItem(ModelMap,200,1).getState()]}">An item</li>
                <li class="list-group-item" th:text="${T(de.smarthome.smartux.controller.PortalController).getItem(ModelMap,201,1).getState()}">A second item</li>
                <li class="list-group-item">A third item</li>
            </ul>
        </div>
    </div>
</body>
<!-- *******************************************************
     *                                                     *
     * Javascript Code für die Manipulierung der Daten     *
     *                                                     *
     ******************************************************* -->
<script th:fragment="pre-footer"  >
    
    function TKR_R_NTP_Datetime_Handle(value) {
    }
</script>

</html>