<html xmlns:th="http://www.thymeleaf.org">

<body>
    <!-- *******************************************************
     *                                                     *
     * Module interner HMTL Code für die Formatierung der  *
     * View.                                               *
     *                                                     *
     ******************************************************* -->
    <div th:fragment="power" class="text-center d-flex flex-column" style="height: 100%">
        <div class="card" style="width: 18rem">
            <div class="card-header">Waschmaschine</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span><i th:class="${'fa-sharp-duotone fa-light ' + service.item(45, 7).getCategory() + ' fa-xl'}"
                            style="--fa-secondary-color: #387bf0">
                        </i></span><span th:id="${service.item(45, 7).getName()}"
                        th:text="${service.item(45, 7).getState() != 'NULL' ? T(java.lang.String).format(T(java.util.Locale).US, service.item(45, 7).getStateDescription().getPattern(), T(java.lang.Float).parseFloat(service.item(45, 7).getState())): 0}"></span>
                </li>
                <li class="list-group-item">
                <span><i th:class="${'fa-sharp-duotone fa-light ' + service.item(45, 4).getCategory() + ' fa-xl'}"
                    style="--fa-secondary-color: #387bf0">
                </i></span><span th:id="${service.item(45, 4).getName()}"
                th:text="${service.item(45, 4).getState() != 'NULL' ? T(java.lang.String).format(T(java.util.Locale).US, service.item(45, 4).getStateDescription().getPattern(), T(java.lang.Float).parseFloat(service.item(45, 4).getState())): 0}"></span>
                </li>
                <li class="list-group-item">
                    <span><i th:class="${'fa-sharp-duotone fa-light ' + service.item(45, 5).getCategory() + ' fa-xl'}"
                        style="--fa-secondary-color: #387bf0">
                    </i></span><span th:id="${service.item(45, 5).getName()}"
                    th:text="${service.item(45, 5).getState() != 'NULL' ? T(java.lang.String).format(T(java.util.Locale).US, service.item(45, 5).getStateDescription().getPattern(), T(java.lang.Float).parseFloat(service.item(45, 5).getState())): 0}"></span>
                </li>
            </ul>
        </div>
    </div>
</body>
<!-- *******************************************************
     *                                                     *
     * Javascript Code für die Manipulierung der Daten     *
     *                                                     *
     ******************************************************* -->
<script th:fragment="pre-footer"></script>

</html>