<html xmlns:th="http://www.thymeleaf.org">

<body>
    <!--ROOM MODULE-->
    <div th:fragment="room">
        <!--SENSOR-->
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div th:each="module: ${SteinelPraesenzModuleData}">
                <div class="col">
                    <div class="card text-center mt-2" style="width: 20rem">
                        <div class="card-header" th:text="${module.getArea()}">Küche</div>
                        <!--<img th:src="@{/img/kueche.jpg}" alt="Mein Foto" />-->
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <i th:class="${'fa-sharp-duotone fa-light ' + module.items[2].getCategory() + ' fa-xl'}"
                                    style="--fa-secondary-color: #387bf0"></i>&nbsp;<span
                                    th:text="${module.items[2].getState() != 'NULL' ? T(java.lang.String).format(T(java.util.Locale).US,module.items[2].getStateDescription().getPattern(),T(java.lang.Float).parseFloat(module.items[2].getState())): 0}"></span>
                                |
                                <i th:class="${'fa-sharp-duotone fa-light ' + module.items[3].getCategory() + ' fa-xl'}"
                                    style="--fa-secondary-color: red"></i>&nbsp;<span
                                    th:text="${module.items[3].getState() != 'NULL' ? T(java.lang.String).format(T(java.util.Locale).US,module.items[3].getStateDescription().getPattern(),T(java.lang.Float).parseFloat(module.items[3].getState())): 0}"></span>
                                |
                                <i th:class="${'fa-sharp-duotone fa-light ' + module.items[6].getCategory() + ' fa-xl'}"
                                    style="--fa-secondary-color: red"></i>&nbsp;<span
                                    th:text="${module.items[6].getState() != 'NULL' ? T(java.lang.String).format(T(java.util.Locale).US,module.items[6].getStateDescription().getPattern(),T(java.lang.Float).parseFloat(module.items[6].getState())): 0}"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>