layout.html

<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head th:insert="~{fragments/header.html :: header}"></head>

  <!-- Tag List, gibt dem JS Websocket sich für die richtigen Events zu registrieren-->
  <script th:inline="javascript">
    let listOfTagsToSubscribe = /*[[${toSubscribe}]]*/ [];

    let listOfTagsToSubscribe2 = /*[[${SteinelPraesenzModuleData}]]*/ [];
    console.log(listOfTagsToSubscribe2);
    

    var name = Object.entries(listOfTagsToSubscribe).find(([key, value]) => value === 1);
    console.log(name);
  </script>

  <body>
    <section layout:fragment="content">
      <p>Page content goes here</p>
    </section>
    <footer>
      <!-- Alle Änderungen die vor dem Includer der *.js Bibliotheken erfolgen müssen gehören auf der Content Seite in dieses Bereich. -->
      <!-- Das ist zum Beispiel der Callback für Verarbeitung der Openhab Updateevents-->
      <div id="pre-footer" layout:fragment="pre-footer"></div>
      <!-- Hier werden alle *.js Bibliotheken eingefügt sie dazu footer.html -->
      <div id="footer" th:insert="~{fragments/footer.html :: footer}"></div>
      <!-- Wird eine Verarbeitung nach der Includieren der *.js Bibliotheken benötigt gehört diese auf der Content Seite in deisen Abschnitt. -->
      <div id="post-footer" layout:fragment="post-footer"></div>
    </footer>
  </body>
</html>
